/* the overall single hotel in a card */
.searchItem {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex; /* so that all the 3 sections be side by side */
    justify-content: space-between; /* all the 3 sections will divided by space between them */
    gap: 20px; /* this creates gap between each section, view card */
    margin-bottom: 20px;
}

.siImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* description will be 2 times bigger then details */ 
.siDesc {
    display: flex;
    flex-direction: column; /* the contents inside decription will be one below other */
    gap: 10px; /* gap b/w each item inside description */
    flex: 2; /* size of description (2 times) */
}

.siTitle {
    font-size: 20px;
    color: #0071c2;
}

.siDistance {
    font-size: 12px;
}

.siTaxiOp {
    font-size: 12px;
    background-color: #008009;
    color: white;
    width: max-content; /* its width will be where the content ends (bg-color)*/
    padding: 3px;
    border-radius: 5px;
}

.siSubtitle {
    font-size: 12px;
    font-weight: bold;
}

.siFeatures {
    font-size: 12px;
}

.siCancelOp {
    font-size: 12px;
    color: #008009;
    font-weight: bold;
}

.siCancelOpSubtitle {
    font-size: 12px;
    color: #008009;
}

/* details will be 1 times lesser then description */
.siDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.siRating {
    display: flex;
    justify-content: space-between
}

.siRating>span {
    font-weight: 500;
}

.siRating>button {
    background-color: #003580;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: none;
}

.siDetailTexts {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.siPrice {
    font-size: 24px;
}

.siTaxOp {
    font-size: 12px;
    color: gray;
}

.siCheckButton {
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}