.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

/* when it is list mode, then we are chaining the margin (decreasing) */
.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    gap: 40px; /* gap between each item/icons */
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px; /* gap between icons & text */
}

/* when the icon is selected, it should be highlighted i.e like a box around the icon */
.headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc {
    margin: 20px 0px;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;

    /* to get the search bar in the middle of header section line */
    position: absolute;
    bottom: -25px; /*considering the height and padding 30 + 10(*2) = 50px*/
    width: 100%;
    max-width: 1024px; /* width of search bar feature */
}

.headerIcon {
    color: lightgray;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px; /* gap b/w icon and the input fields inside the bar */
}

/* remove the border and outline for input fileds inside the bar */
.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

/* aligning the position of the calendar to the caldenar input field */
.date {
    position: absolute;
    top: 50px;
    z-index: 2;
    /* 
        here z index is 2 which is higher than the z index of featured,
        go to featured.css file for more info
    */
}

/* main div for options component when clicked it will be opened */
.options {
    z-index: 2;
    /* 
            here z index is 2 which is higher than the z index of featured,
            go to featured.css file for more info
    */
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

/* for the 3 items inside the component i.e adult, children , rooms */
.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

/* container consist of + - and value */
.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

/* buttons + - */
.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
}

/* when the button is disabled */
.optionCounterButton:disabled {
    cursor: not-allowed;
}